body{
font-family:Arial;
margin:0;
text-align:center;
background:#f2f2f2;
}

header{
background:black;
color:white;
padding:20px;
}

a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:50px;
}

button{
padding:12px 25px;
font-size:18px;
border-radius:10px;
}
body{
    background-image: url("photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
